$size: 750px;

.header {
  width: 100%;
  height: 100px;
  background: transparent;
  position: fixed;
  z-index: 99999;
  transition: 0.1s;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 1rem 1rem;

  &:hover {
    background: var(--maincolormenu);
    backdrop-filter: saturate(100%) blur(5px);
    box-shadow: inset 0 -1px 0 0 var(--bodercolor);
  }

  .container {
    margin-left: 6%;
    display: flex;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container svg {
    cursor: pointer;
    width: 10em;
    margin-top: 3px;
  }

  .searchdrop {
    width: 0;
    height: 0;
    transition: 0.3s;
  }

  .drop.searchdrop {
    width: 40%;
    height: 100%;
  }

  @media screen and (max-width: $size) {
    height: 60px;

    .container {
      width: 6em;
    }

    .container svg {
      width: 6em;
      height: 50px;
    }
  }
}

.active {
  background: var(--maincolormenu);
  backdrop-filter: saturate(100%) blur(5px);
  box-shadow: inset 0 -1px 0 0 var(--bodercolor);
}
