.header {
  grid-area: header;
  position: sticky;
  z-index: 99998;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 6%;

  &::before {
    content: '';
    background: var(--maincolormenu);
    backdrop-filter: saturate(100%) blur(8px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    inset: 0;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.2em;
}

.searchdrop {
  position: absolute;
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 40%;
  left: 50%;
  transform: translate3d(-50%, -5.42em, 0);
  max-width: 1080px;
  opacity: 0;
}

.searchdrop[data-active="true"] {
  transform: translate3d(-50%, 0, 0);
  opacity: 1;
}

.container {
  display: inline-block;

  a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .logo {
    svg {
      display: flex;
      cursor: pointer;
      width: 10em;
    }
  }
}

.active {
  background: var(--maincolormenu);
  backdrop-filter: saturate(100%) blur(5px);
  box-shadow: inset 0 -1px 0 0 var(--color-border);
}

@media (max-width: 790px) {
  .logo {
    padding: 1em 0;
  }
}

@media (max-width: 700px) {
  .header {
    padding: 0 3%;
  }

  .nav {
    gap: 0;
  }

  .logo {
    width: 120px;

    svg {
      height: auto;
    }
  }

  .container {
    a {
      align-items: center;
    }
  }

  .searchdrop {
    width: 100%;
    transform: translate3d(-50%, -5.4em, 0);
    height: 5.4em;
    background: var(--maincolor);
    z-index: 565656;
  }

  .searchdrop[data-active="true"] {
    transform: translate3d(-50%, 18px, 0);
  }
}
