.bag {
  display: grid;
  grid-template-areas:
    'bagitems checkout'
  ;
  grid-template-columns: minmax(400px, 800px) minmax(300px, 400px);
  align-items: flex-start;
  justify-content: center;
  gap: 3em;
  margin: 0 6%;
  height: -webkit-fill-available;
}

.list {
  min-height: 4em;

  ul {
    padding-top: 3em;
    max-height: 96vh;
    overflow: auto;
  }

  li {
    margin-bottom: 3em;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  :is(button, span) {
    display: none;
    background: transparent;
  }
}

.empty {
  font-size: 1.2em;
  text-align: center;
  margin: 3em 0;
  color: var(--color-dark-grey);
}

@media (max-width: 750px) {
  .bag {
    grid-template-areas:
      'bagitems'
      'checkout'
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin: 0 3%;
    height: auto;
    gap: 0;
  }

  .list {
    height: 100%;
    max-height: 60vh;
    margin-bottom: 3em;

    ul {
      padding-top: 2em;
      max-height: 94%;
      overflow: auto;
    }
  }

  .empty {
    margin: 0.6em;
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  .list {
    height: auto;
    max-height: 100%;
    margin-bottom: 0;

    ul {
      max-height: 100%;
      overflow: unset;
    }
  }

  .title {
    flex-wrap: wrap;
    gap: 8px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      line-height: 1;
      transition: 0.2s transform ease;
      transform: rotateZ(-135deg);

      &:before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-left: 3px solid var(--color-grey);
        border-top: 3px solid var(--color-grey);
        border-radius: 2px;
      }
    }

    span {
      display: block;
      margin: 1em auto 2em auto;
    }

    [aria-hidden="true"] {
      transform: rotateZ(45deg);
    }
  }

  .hidden {
    height: 0;
    overflow: hidden !important;
    padding: 0 !important;
  }
}
