.bag {
  display: grid;
  grid-template-areas:
    'bagitems checkout'
  ;
  grid-template-columns: minmax(400px, 800px) minmax(300px, 400px);
  align-items: flex-start;
  justify-content: center;
  gap: 3em;
  margin: 0 6%;
  height: 100vh;
}

.list {
  min-height: 4em;

  h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  ul {
    padding-top: 3em;
    max-height: 96vh;
    overflow: auto;
  }

  li {
    margin-bottom: 3em;
  }
}

.empty {
  font-size: 1.2em;
  text-align: center;
  margin: 3em 0;
  color: #585858;
}

@media (max-width: 750px) {
  .bag {
    grid-template-areas:
      'bagitems'
      'checkout'
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin: 0 3%;
    height: auto;
  }

  .list {
    height: -webkit-fill-available;
    max-height: 60vh;

    ul {
      padding-top: 2em;
      max-height: 94%;
    }
  }

  .empty {
    margin: 0.6em 0 !important;
  }
}
