@import './logins.scss', './bag.scss', './account.scss';

.main {
  min-height: 100vh;
  grid-area: main;
  transition: transform 0.2s ease;

  [id] {
    scroll-margin-top: 18vh;
  }
}

.help {
  h1 {
    color: var(--color-grey);
  }

  // Pagina Help
  ol {
    padding: 0 2em;
    margin: 0 auto;

    li {
      color: var(--colorlink);
      list-style: decimal;
      margin-bottom: 12px;
    }

    a {
      color: var(--colorlink);
      font-size: 1.2em;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.slide_container {
  position: relative;
  width: -webkit-fill-available;
  height: max-content;
}

.banner {
  position: relative;
  width: -webkit-fill-available;
  height: 100vh;
  min-height: 300px;
  max-height: 70vh;
  border-radius: 1em;
  overflow: hidden;
  margin-bottom: 4em;
  margin: 0 6% 4em;
  overflow: hidden;

  section {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
  }

  figure {
    border-radius: 1em;
    position: relative;
    min-height: 300px;
    max-height: 70vh;
    height: 100vh;
    width: 100%;
    user-select: none;
    flex: none;
  }

  img {
    max-height: 600px;
    object-fit: contain;
    object-position: 50% 50%;
    user-select: none;
  }

  figcaption {
    position: absolute;
    margin: 0 6%;
    padding: clamp(15px, 6%, 50px) 0;
    height: -webkit-fill-available;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    justify-content: flex-end;

    h1 {
      color: var(--maincolor);
      font-size: 3em;
      font-weight: 800;
    }

    p {
      color: var(--color-black);
      font-weight: 500;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.listctg {
  width: -webkit-fill-available;
  margin: 4em 6%;
  overflow: hidden;
  position: relative;

  h2 {
    margin-bottom: 16px;
  }

  section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: -webkit-fill-available;
    height: 70px;
  }
}

.highlights {
  width: -webkit-fill-available;
  margin: 4em 6%;
  overflow-x: hidden;
  position: relative;

  section {
    margin-top: 1em;
    display: grid;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    gap: 1em;
  }

  .panel {
    position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
}

.promotions {
  position: relative;
  width: 100%;
  width: -webkit-fill-available;
  margin: 4em 6%;
  overflow: hidden;

  section {
    margin-top: 1em;
    display: grid;
    grid-template-areas:
      'card card rigth'
      'card1 card2 rigth';
    grid-auto-columns: auto;
    grid-template-rows: 300px 400px;
    grid-gap: 2em;

    figure {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 1em;
      flex-shrink: 0;
      transition-property: transform;
    }

    figcaption {
      position: absolute;
      z-index: 5;
      left: 3em;
      bottom: 2em;

      h4 {
        color: var(--maincolor);
        font-size: 3em;
        margin-bottom: 8px;
      }

      a {
        width: 8em;
        border-color: var(--maincolor);
        background: var(--maincolor);
      }

      span {
        color: var(--color-grey);
      }

      svg {
        fill: var(--color-grey);
      }
    }

    figure:nth-child(1) {
      grid-area: card;
    }

    figure:nth-child(2) {
      grid-area: rigth;
    }

    figure:nth-child(3) {
      grid-area: card1;
    }

    figure:nth-child(4) {
      grid-area: card2;
    }

    img {
      object-fit: cover;
    }
  }
}

.notfound {
  width: auto;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 6%;
  color: var(--color-grey);

  h1 {
    font-size: 12em;
  }

  a {
    margin-top: 2em;
  }
}

.spinner {
  width: 40px;
  height: 40px;
  z-index: 99995;
  position: relative;
  margin: 0 auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ebebeb;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.inputs {
  label {
    margin: 2em 0 1em;
  }
}

.hidden {
  overflow: hidden;
}

.link {
  color: var(--colorlink);

  &:hover {
    text-decoration: underline;
  }
}

.msdErr {
  position: absolute;
  bottom: -1.6em;
  text-align: center;
  padding: 0 16%;
  font-size: 1em;
  color: var(--colo-red);
}

.loading {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  transform: translate3d(0, 32vh, 0);
}

.favorites {
  max-width: 800px;
  width: -webkit-fill-available;
  margin: 0 auto;
  padding: 0 6%;

  h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    color: var(--color-grey);
  }

  ul {
    padding: 3em 0;
  }

  li {
    margin-bottom: 3em;
  }
}


@media (max-width: 1080px) {
  .contpromotions {
    grid-template-rows: 250px 300px;
  }
}

@media (max-width:700px) {
  .banner {
    margin: 0 3% 2em;

    figcaption {
      justify-content: space-between;
    }
  }

  .slide_container {
    padding: 0 3%;
  }

  .listctg {
    margin: 2em 0;

    h2 {
      font-size: 1.4em;
      margin-bottom: 8px;
      padding: 0 3%;
    }

    .list {
      padding: 0 3%;
    }
  }

  .highlights {
    height: max-content;
    margin: 0;

    h2 {
      margin: 0 3%;
      font-size: 1.4em;
    }

    section {
      grid-auto-columns: 47%;
    }
  }

  .promotions {
    margin: 2em 0;

    h2 {
      padding: 0 3%;
    }

    section {
      grid-template-areas:
        'card card2 card1 rigth'
      ;
      grid-auto-columns: 90%;
      grid-template-rows: 300px;
      gap: 1em;

      figcaption {
        left: 1em;
        bottom: 1em;

        h4 {
          font-size: 2em;
        }

        span {
          padding: 12px 0 12px 24px;
        }
      }
    }
  }

  .favorites {
    margin: 0 3%;
    padding: 0;
  }
}

@media (max-width:550px) {
  .inputs {
    margin: 1.4em 0 0;

    label {
      margin: 1.88em 0;
    }
  }

  .listctg {
    gap: 0.6em;
  }

  .highlights {
    section {
      grid-auto-columns: 55%;
    }
  }
}

// https://tobiasahlin.com/spinkit/

@keyframes sk-bounce {

  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale3d(0.0);
  }

  50% {
    transform: scale(1.0);
    -webkit-transform: scale3d(1.0);
  }
}

// Detectar dispositivos moveis
@media only screen and (hover: none) and (pointer: coarse) {}
