.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    cursor: pointer;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }

  svg {
    width: 28px;
    height: 28px;
    transition: 3s;
  }
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;

  svg {
    width: 28px;
    cursor: pointer;
    flex: none;
  }

  input {
    width: 100%;
    padding: 0 26px;
    height: 50%;
    font-size: 1.6em;
    background: transparent;
  }
}

.close {
  button {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
  }
}

@media (max-width: 700px) {
  .searchBar {
    button {
      width: auto;
      height: auto;
      padding: 1em 1.15em;
      cursor: pointer;
    }

    svg {
      width: auto;
      height: auto;
    }
  }

  .bar {
    width: 100%;
    border-bottom: 1px solid var(--bodercolor);
    margin: 0 auto;

    input {
      padding: 0 12px;
      width: 75%;
    }
  }
}
