.buyFinish {
  position: relative;
  padding: 16px 72px;
  border-radius: 12px;
  background: #fff;
  border: 2px solid #006bef;
  color: #006bef;
  font-weight: 700;
  cursor: pointer;
  font-size: 1em;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale3d(1.01, 1.01, 1.01);
  }

  &:active {
    transform: scale3d(0.99, 0.99, 0.99);
  }
}

.next,
.prev {
  position: absolute;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  z-index: 7777;
  cursor: pointer;

  svg {
    height: 42px;
    fill: #333333;
  }
}

.next {
  right: -32px;
  box-shadow: -2px 0px 5px 3px #f6f6f6;
}

.prev {
  left: -32px;
  box-shadow: 2px 0px 5px 3px #f6f6f6;
}

.redirect {
  position: relative;
  padding: 18px 24px;
  border: 2px solid #006bef;
  color: #006bef;
  max-width: 150px;
  width: 68%;
  border-radius: 1em;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.2s ease-in-out;

  svg {
    position: absolute;
    opacity: 0;
    right: 0;
    transition: 0.2s;
    fill: #006bef;
  }

  &:hover {
    background: #006bef;
    color: #fff;
    transform: scale3d(1.01, 1.01, 1.01);
  }

  &:active {
    transform: scale3d(0.99, 0.99, 0.99);
  }

  &:hover svg {
    fill: #fff;
    opacity: 1;
    right: 14%;
  }

  &:active {
    transform: scale3d(0.96, 0.96, 0.96);
  }
}

.btnadd {
  border-radius: 12px;
  text-align: center;
  padding: 14px 38px;
  background: #006bef;
  font-weight: 600;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale3d(1.01, 1.01, 1.01);
  }

  &:active {
    transform: scale3d(0.99, 0.99, 0.99);
  }
}

@media (max-width: 750px) {

  .next,
  .prev {
    display: none;
  }
}
