.cardedit {
  padding: 1em;
  background: #fff;
  color: #585858;
  max-width: 450px;
  width: auto;
  display: block;

  h2 {
    margin: 8px 12px 16px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    flex-wrap: wrap;
  }

  button {
    text-align: center;
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
    display: block;
    padding: 8px;
    color: #585858;
    border: 1px solid var(--bordercolor);
    background: transparent;
    border-radius: 12px;
    font-size: 1.1em;
    flex: none;
  }
}
