.mincardOrder {
  margin-top: 26px;
  height: 72px;
  display: flex;
  border-radius: 1em;
  align-items: center;
  color: #9791E4;
  border: 1px solid var(--bordercolor);
  background: #F4F4F4;

  &:hover {
    background: #eeeeee;
  }

  span {
    text-align: left;
  }

  span:nth-child(1) {
    width: 31.6%;
    margin: 0 26px;
  }

  span:nth-child(2) {
    margin: 0 26px;
    width: 31.6%;
  }
}

@media (max-width: 411px) {
  .mincardOrder {
    height: 52px;
    font-size: 0.8em;

    span:nth-child(1) {
      width: 27%;
      margin: 0 12px;
    }

    span:nth-child(2) {
      margin: 0 12px;
      width: 31%;
    }
  }
}
