.input {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
  border: 1px solid transparent;

  input {
    border-radius: 20px;
    border: 1px solid var(--bordercolor);
    background: #fafafa;
    width: 100%;
    height: 50px;
    font-size: 1em;
    padding: 0 22px;
  }

  input::placeholder {
    color: transparent;
  }

  input:not(:placeholder-shown)~.ph,
  input:focus~.ph {
    transform: translateY(-40px);
  }
}

.input[data-error="true"] {
  border-color: var(--colorerr);

  span {
    color: var(--colorerr);
  }
}

.ph {
  cursor: initial;
  margin-left: 22px;
  position: absolute;
  color: #706bb3;
  transition: 0.3s;
  width: 88%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}

.inputRadio {
  position: relative;

  label {
    cursor: pointer;
    margin: 16px 0;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5px;
    cursor: pointer;
    color: #585858;
  }

  input {
    display: none;
  }

  span::before {
    content: '';
    width: 12px;
    height: 12px;
    margin-right: 6px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #9791E4;
    border: 3px solid var(--maincolor);
    margin-right: 12px;
  }

  input:checked~span:before {
    background: #9791E4;
  }
}
