.buybar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--maincolormenu);
  backdrop-filter: saturate(100%) blur(5px);
  border: 1px solid var(--bodercolor);
  border-radius: 1rem 1rem 0 0;

  a {
    display: none;
  }
}

.container {
  width: 90%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  gap: 16vh;
}

.calc {
  margin-bottom: 6px;
  font-weight: 700;
  color: #525252;

  span:nth-child(2) {
    font-weight: 500;
    font-size: 0.98em;
    margin-left: 12px;
    color: #585858;
  }
}

.calcfinish {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  div {
    color: #525252;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    span:nth-child(2) {
      font-size: 0.9em;
      font-weight: 500;
      color: #585858;
    }
  }
}

@media (max-width: 750px) {
  .buybar {
    max-height: 40vh;
    overflow: hidden;
    height: auto;

    a {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -1px;
      left: 3%;
      border-radius: 0 0 8px 8px;
      width: 28px;
      height: 28px;
      border: 1px solid var(--bodercolor);

      &:before {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        border-top: 3px solid #333;
        border-right: 3px solid #333;
        border-radius: 3px;
        transform: rotate(-45deg);
        transition: 0.3s;
      }
    }
  }

  .container {
    flex-direction: column;
    gap: 2vh;
  }

  .calc {
    display: none;
  }

  .open.buybar {
    max-height: 60vh;

    .calc {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 280px;
    }

    a {
      &:before {
        transform: rotate(135deg);
      }
    }
  }
}
