.itemfilter {
  display: flex;
  color: #6f6f6f;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  input {
    display: none;
  }

  input:checked+div {
    color: currentColor;
    border-color: currentColor;
  }
}

.filtername {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 3px 16px;
  border-radius: 26px;
  margin-right: 16px;
  border: 1px solid var(--bordercolor);
  background: transparent;
  color: #6f6f6f;

  button {
    flex: none;
  }

  span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 8px;
    border: 1px solid var(--bordercolor);
  }
}

.optionsfilter {
  margin: 110px auto;
  padding: 2em min(2em, 6%);
  max-width: 600px;
  border-radius: 1em;
  background: var(--maincolor);

  h1 {
    font-size: 1em;
    color: #505050;
    margin: 12px 0;
  }

  label {
    flex: none;
  }
}

.block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5em 0;
}
