.filter {
  margin-top: 2em;
  display: flex;
  width: 100%;
  color: #6f6f6f;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  line-height: 1.4;

  input {
    display: none;
  }

  input:checked+div {
    color: currentColor;
    border-color: currentColor;
  }
}

.filtername {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 3px 16px;
  border-radius: 26px;
  margin-right: 16px;
  border: 1px solid var(--bodercolor);

  span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 8px;
  }
}
