.account {
  width: 50rem;
  margin: 10rem auto;
}

.container {
  margin: 34px 6%;
  border-radius: 22px;
  border: 1px solid var(--bodercolor);

  a {
    display: flex;
    padding: 28px;
    align-items: center;
    gap: 18px;
    cursor: pointer;
    color: #333;
  }

  img {
    width: 28px;
  }

  .usercfg {
    margin: 28px auto 62px;
    max-width: 500px;
  }

}

.usercfg {
  width: 90%;
  max-width: 400px;
  margin: 200px auto;

  .genere {
    margin: 48px 0;

    label {
      margin: 16px 0;
    }

    div {
      display: flex;
      gap: 15px;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
      }

      input {
        display: none;
      }

      span::before {
        content: '';
        width: 12px;
        height: 12px;
        margin-right: 6px;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #9791E4;
        border: 3px solid var(--maincolor);
      }

      input:checked~span:before {
        background: #9791E4;
      }
    }
  }

  .contact {
    margin-top: 32px;
  }
}
