.contlogin {
  width: 90%;
  max-width: 400px;
  margin: 11em auto;
  background: var(--maincolor);
  padding: 2em;
  border-radius: 1em;

  a {
    color: var(--colorlink);

    &:hover {
      text-decoration: underline;
    }
  }
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;

  label {
    margin-right: 12px;
    color: #858585;
  }

  button {
    border-radius: 12px;
    padding: 14px 38px;
    background: #E7F4E7;
    font-weight: 600;
    color: #595555;
    font-size: 1em;
  }
}

@media (max-width: 540px) {
  .contlogin {
    margin: 12vh auto;
  }
}
