.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 46em;
  overflow: hidden;

  img {
    width: 100vw;
    height: 46em;
    object-fit: cover;
    border-radius: 0 0 2em 2em;
  }
}

.sectionfilter {
  position: relative;
  margin: 8vh 6%;
}

.category {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advertising {
  position: relative;
  margin: 14vh 6%;

  h1 {
    margin: 16px 24px;
  }

  img {
    border-radius: 2rem;
  }
}

@media (max-width: 750px) {
  .sectionfilter {
    margin-top: 4vh;
    margin-right: 0;
  }

  .slide {
    height: 28em; //32

    img {
      height: 28em; //32
      border-radius: 0 0 1em 1em;
    }
  }

  .advertising {
    margin: 12vh 6%;
  }
}
