.contlogin {
  width: 90%;
  max-width: 400px;
  margin: 11em auto;
  background: var(--maincolor);
  padding: 2em;
  border-radius: 1em;
}

.sectiontab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 4em;
}

.section {
  display: block;
  color: #595555;
  position: relative;
}

.section.active {
  &:after {
    content: '';
    position: absolute;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #595555;
  }
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0 16px;

  label {
    margin-right: 12px;
    color: #858585;
  }

  button {
    border-radius: 12px;
    padding: 14px 38px;
    background: #E7F4E7;
    font-weight: 600;
    color: #595555;
    font-size: 1em;
  }
}

@media (max-width: 540px) {
  .contlogin {
    margin: 12vh auto;
  }
}
