.usercfg {
  width: 90%;
  max-width: 400px;
  margin: 200px auto;

  .genere {
    margin: 48px 0;

    label {
      margin: 16px 0;
    }

    div {
      display: flex;
      gap: 15px;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        cursor: pointer;
      }

      input {
        display: none;
      }

      span::before {
        content: '';
        width: 12px;
        height: 12px;
        margin-right: 6px;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #9791E4;
        border: 3px solid var(--maincolor);
      }

      input:checked~span:before {
        background: #9791E4;
      }
    }
  }

  .contact {
    margin-top: 32px;
  }
}

.orders {
  display: flex;
  width: 90%;
  max-width: 700px;
  margin: 200px auto;

  .table {
    width: 100%;
  }

  .toptable {
    width: 100%;
    display: flex;
    align-items: center;

    h4:nth-child(1) {
      margin: 0 26px;
      width: 31.6%;
    }

    h4:nth-child(2) {
      margin: 0 26px;
      width: 31.6%;
    }
  }
}

.cards {
  width: 90%;
  max-width: 700px;
  margin: 200px auto;

  button {
    padding: 12px 24px;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 18px;
    cursor: pointer;
  }

  .sectioncards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.address {
  width: 90%;
  max-width: 700px;
  margin: 200px auto;

  button {
    padding: 12px 24px;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 18px;
    cursor: pointer;
  }
}

.help {
  width: 90%;
  max-width: 700px;
  margin: 200px auto;

  ol {
    padding: 0 3rem;
    margin: 0 auto;
  }

  li {
    color: var(--colorlink);
    list-style: decimal;
    margin-bottom: 12px;
  }

  a {
    color: var(--colorlink);
    font-size: 1.2em;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Estilização da pagina (account) deve ser sempre a ultima
.account {
  max-width: 800px;
  margin: 10rem auto;
}

.container {
  margin: 34px 6%;

  .dropOption {
    display: flex;
    padding: 28px;
    align-items: center;
    gap: 18px;
    cursor: pointer;
    color: #333;
    border: 1px solid var(--bodercolor);
    border-radius: 22px;
    transition: 0.3s;
  }

  section {
    display: none;
  }

  .open+.dropcontainer section {
    display: block;
    border: none;
  }

  .dropOption.open {
    padding: 28px 0;
    border: none;
  }

  img {
    width: 28px;
  }

  .usercfg,
  .orders,
  .cards,
  .address,
  .help {
    margin: 28px auto 72px;
  }
}

@media (max-width: 280px) {
  .cards {
    width: 95%;
  }
}

@media (max-width: 411px) {
  .orders {
    width: 100%;

    .toptable {
      font-size: 0.8rem;

      h4:nth-child(1) {
        margin: 0 9px;
        width: 31.6%;
      }

      h4:nth-child(2) {
        margin: 0 9px;
        width: 31.6%;
      }
    }
  }
}
