.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 46em;

  img {
    width: 100vw;
    height: 46em;
    border-radius: 0 0 38px 38px;
  }
}

.sectionfilter {
  position: relative;
  margin: 8vh 0;

  &:after {
    content: '';
    position: absolute;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 14px 20px #ffffff;
    top: 0;
    right: 0;
    display: flex;
    width: 5%;
    height: 100%;
    z-index: 8888;
    filter: saturate(100%) blur(5px);
  }

  &:before {
    content: '';
    position: absolute;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 14px 20px #ffffff;
    top: 0;
    left: 0;
    display: flex;
    width: 5%;
    height: 100%;
    z-index: 8888;
    filter: saturate(100%) blur(5px);
  }
}

.category {
  position: relative;
}
