.slide {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  border-radius: 0 0 2em 2em;
  min-height: 500px;

  figure {
    display: grid;
    width: 100vw;
    height: 100vh;
    min-height: 500px;
  }

  img {
    object-fit: cover;
    border-radius: 0 0 2em 2em;
  }

  &:after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 9em;
    position: absolute;
    bottom: 0;
    z-index: 98898;
    box-shadow: inset 0px -90px 58px -52px #0000008c;
  }
}

.scrollset {
  position: absolute;
  width: 34px;
  height: 34px;
  bottom: 6%;
  left: 49.39%;
  z-index: 98899;
  animation: updown 1s infinite alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);

  svg {
    transform: rotate(270deg);
    fill: #ffffff;
    stroke: #ffffff;
    width: 32px;
    height: 32px;
  }
}

@keyframes updown {
  from {
    transform: translateY(-32px);
  }

  to {
    transform: translateY(0px);
  }
}


.sectionfilter {
  position: relative;
  margin: 8vh 6%;
}

.category {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advertising {
  position: relative;
  margin: 8vh 6%;

  img {
    border-radius: 2rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cont1 {
  width: 100%;
  max-width: 1300px;
}

.cont2 {
  display: flex;
  gap: 3em;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin: 2em 6%;
}

.produinitial {
  margin: 152px auto;
  width: 60%;
}

.contentcards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}

.column {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 47%;
  gap: 14vh;
}

@media (max-width: 1300px) {
  .container {
    flex-wrap: wrap;
  }

  .produinitial {
    margin: 152px auto;
    width: 78%;
  }

  .contentcards {
    gap: 0;
  }
}

@media (max-width: 750px) {
  .sectionfilter {
    margin-top: 4vh;
    margin-right: 0;
    margin: 4vh 0 4vh 6%;
  }

  .slide {
    border-radius: 0 0 1em 1em;
    min-height: auto;

    figure {
      min-height: auto;
    }
  }

  .advertising {
    margin: 2vh 6%;

    img {
      border-radius: 1em;
    }
  }

  .cont1 {
    width: 100%;
  }

  .cont2 {
    width: 180px;
    gap: 1.5em;
  }

  .container {
    flex-direction: column;
  }

  .contentcards {
    gap: 2vh;
  }

  .produinitial {
    margin: 52px auto;
    width: 88%;
  }

  .column {
    gap: 4vh;
  }

  .column:nth-child(1) {
    order: 4;
  }
}
