.bag {
  position: relative;
  margin: 110px auto 0;
  max-width: 1200px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .title {
    margin: 0 6% 22px;
    gap: 16px;
    color: #333333;
    display: flex;
    align-items: center;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  li {
    margin: 0 6% 42px;
  }
}

.list {
  width: 60%;

  ul {
    padding-top: 16px;
  }
}

.checkout {
  margin-left: 4%;
  width: 35%;

  h3 {
    display: flex;
    align-items: center;
    gap: 18px;
    color: #505050;
    font-weight: 600;
  }
}

.container {
  label {
    display: flex;
    margin: 16px 0;
  }
}

.options {
  padding: 2px 12px;
  margin: 0 auto 0;
  border: 1px solid var(--bordercolor);
  border-radius: 20px;
  max-width: 362px;

  .descount {
    display: flex;
    margin: 16px 8px;
    color: #585858;
  }
}

.select {
  display: flex;
  align-items: center;
  position: relative;
  margin: 18px 0;
}

.select::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-top: 3px solid #333;
  border-right: 3px solid #333;
  border-radius: 3px;
  transform: rotate(135deg);
  right: 16px;
}

@media (max-width: 750px) {
  .bag {
    margin-top: 70px;
  }

  .list {
    width: 100%;
  }

  .checkout {
    margin: 0 6% 12vh;
    width: 100%;

    .options {
      max-width: 100%;
      margin: 0 4.5%;
    }
  }
}
