.checkout {
  width: 35%;

  h3 {
    display: flex;
    align-items: center;
    gap: 18px;
    color: #505050;
    font-weight: 600;
  }
}

.contcheckout {
  position: relative;

  label {
    display: flex;
    margin: 16px 0;
  }

  a:nth-child(3) {
    font-size: 0.9em;
    position: absolute;
    right: 0;
  }
}

.options {
  padding: 2px 12px;
  margin: 0 auto 0;
  border: 1px solid var(--bordercolor);
  border-radius: 20px;

  .descount {
    display: flex;
    margin: 16px 8px;
    color: #585858;
  }
}

.cpm {
  padding-top: 0.7em;
}

.select {
  display: flex;
  align-items: center;
  position: relative;
  margin: 18px 0;

  span {
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 3px solid #333;
    border-right: 3px solid #333;
    border-radius: 3px;
    transform: rotate(135deg);
    right: 12px;
  }
}

.add {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2em;

  .cont {
    background: transparent;
    cursor: pointer;
  }
}

@media (max-width: 750px) {
  .checkout {
    margin: 0 1em 12vh;
    width: 100%;
  }

}

@media (max-width: 415px) {
  .add {
    width: 100%;
  }
}
