.checkout {
  grid-area: checkout;

  h3 {
    display: flex;
    align-items: center;
    gap: 18px;
    color: var(--color-grey);
    font-weight: 600;
  }
}

.contcheckout {
  position: relative;

  label {
    display: flex;
    margin: 16px 0;
  }

  a:nth-child(3) {
    font-size: 0.9em;
    position: absolute;
    right: 0;
    bottom: -1.4em;
    background: transparent;
    width: max-content;
  }
}

.options {
  padding: 2px 12px;
  margin: 0 auto 0;
  border: 1px solid var(--color-border);
  border-radius: 20px;

  .descount {
    display: flex;
    margin: 16px 8px;
    color: var(--color-dark-grey);
  }
}

.cpm {
  padding-top: 0.7em;
}

.select {
  display: flex;
  align-items: center;
  position: relative;
  margin: 18px 0;
  width: 100%;
  font-size: 1em;
}

.add {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2em;

  .cont {
    background: transparent;
    cursor: pointer;
  }
}

@media (max-width: 700px) {
  .checkout {
    width: -webkit-fill-available;
    margin: 0 0 1em;
  }
}

@media (max-width: 415px) {
  .add {
    width: 100vw;
  }
}
