.slide {
  position: relative;
  width: 100%;
  height: 80ch;
  background: rgb(248, 216, 186);
}

.infodesc {
  display: flex;
}

.primaryline {
  display: flex;
  justify-content: center;
  gap: 5em;
  margin: 26px 0;

  h1,
  span {
    color: #525252;
    font-weight: 700;
    font-size: 1.7em;
  }

  h2 {
    color: #707070;
    font-size: 1.2em;
  }
}

@media (max-width: 750px) {
  .slide {
    height: 50ch;
  }
}
