.slide {
  position: relative;
  width: 100%;
  height: 80ch;
  background: rgb(248, 216, 186);
}

.infos {
  margin-top: -170px;
  padding: 32px;
  z-index: 9998;
  background: var(--maincolor);
  border-radius: 26px;
  box-shadow: 0 0 30px var(--boxshdowncolo);
  transition: 0.3s;
  width: 500px;
}

.infodesc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 42px 6%;
}

.mindetail {
  width: 250px;
  margin-left: 16%;
}

.primaryline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;

  h1,
  span {
    color: #525252;
    font-weight: 700;
    font-size: 1.7em;
  }

  h2 {
    color: #707070;
    font-size: 1.2em;
  }
}

.secondline {
  margin-bottom: 42px;
}


.moreinfo {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin: 0 auto;

  input {
    display: none;
  }

  input:checked~h2 {
    color: #535353;
  }

  h2 {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #8a8a8a;
  }
}

.details {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  margin: 24px 0;

  div {
    width: 350px;

    h3 {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      gap: 6px;
      color: #535353;
    }
  }
}


@media (max-width: 750px) {
  .infos {
    margin-top: 0;
    box-shadow: none;
    padding: 0;
    width: auto;
  }

  .slide {
    height: 50ch;
  }

  .infodesc {
    flex-direction: column;
  }

  .primaryline {

    h1,
    span {
      font-size: 1.2em;
    }

    h2 {
      font-size: 0.8em;
    }
  }

  .mindetail {
    margin: 52px auto 0;
    order: 2;
  }

  .moreinfo {
    gap: 18px;
    width: 85%;

    h2 {
      font-size: 0.99em;
    }
  }

  .details {
    width: 100%;
    justify-content: flex-start;
    overflow: auto;

    h3 {
      font-size: 0.8em;
    }

    div {
      flex: none;
      width: 258px;
    }

    span {
      font-size: 0.7em;
      color: #505050;
    }
  }
}
