.slide {
  position: relative;
  width: 100%;
  height: 70ch;
  background: rgb(248, 216, 186);
}

.infos {
  margin-top: -170px;
  padding: 32px;
  z-index: 9998;
  background: var(--maincolor);
  border-radius: 26px;
  box-shadow: 0 0 30px var(--boxshdowncolo);
  transition: 0.3s;
}

.infodesc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 42px 6%;
}

.mindetail {
  width: 250px;
  margin-left: 16%;
}

.primaryline {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
  gap: 5em;

  h1,
  span {
    color: #525252;
    font-weight: 700;
    font-size: 1.7em;
  }

  h2 {
    color: #707070;
    font-size: 1.2em;
  }
}

.secondline {
  margin-bottom: 42px;
}

@media (max-width: 750px) {

  .infos {
    margin-top: 0;
    box-shadow: none;
    padding: 0;
  }

  .slide {
    height: 50ch;
  }

  .infodesc {
    flex-direction: column;
  }

  .primaryline {
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
    gap: 5em;

    h1,
    span {
      color: #525252;
      font-weight: 700;
      font-size: 1.2em;
    }

    h2 {
      color: #707070;
      font-size: 0.65em;
    }
  }

  .mindetail {
    margin: 52px auto 0;
    order: 2;
  }
}
