.slide {
  position: relative;
  width: 100%;
  height: 80ch;
}

.contentpanel {
  width: 70ch;
  height: 80ch;

  figure {
    width: 50ch;
    height: 80ch;
    margin: 0 auto;
  }
}

.barcolor {
  margin-left: 6%;
}

.buttons {
  position: absolute;
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  justify-content: space-between;
  bottom: 48%;
  padding: 0 4%;
}

.infos {
  position: relative;
  margin-top: -170px;
  padding: max(1em, 2em);
  z-index: 9998;
  background: var(--maincolor);
  border-radius: 1em;
  box-shadow: 0 0 30px var(--boxshadowcolor);
  transition: 0.3s;
  width: 500px;
  height: auto;
  flex: none;
}

.infodesc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 42px 6%;
}

.mindetail {
  width: 250px;
  flex: none;
  margin: 0 auto;
}

.primaryline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
  line-height: 1.1;

  h1,
  span {
    color: #525252;
    font-weight: 700;
    font-size: 1.7em;
  }

  h2 {
    color: #707070;
    font-size: 1em;
  }
}

.titles {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: inherit;
  flex-direction: column;

  h1,
  h2 {
    line-height: 1;
  }
}

.price {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: inherit;
  flex-direction: column;

  div:first-child {
    span:first-child {
      font-size: 1em;
      font-weight: 600;
      color: #525252;

      &::after {
        content: attr(data-oldprice);
        display: inline-block;
        text-decoration: line-through;
        color: #bfbfbf;
        font-size: 0.9em;
        margin-left: 4px;
      }
    }
  }

  div:last-child {
    span:first-child {
      font-size: 1.7em;
      font-weight: 700;

      &::before {
        content: 'por';
        display: inline-block;
        font-size: 0.6em;
        margin-right: 4px;
        color: #525252;
        font-weight: 600;
      }
    }
  }
}

.secondline {
  margin-bottom: 42px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6%;
  margin-bottom: 28px;

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
  }

  input {
    display: none;
  }
}

.slideinfo {
  position: relative;
  max-width: 98vh;
  padding: 0 6%;
  margin: 0 auto 3em;
}

.maincontentinfo {
  width: 100%;
  height: auto;
}

@media (max-width: 950px) {
  .infodesc {
    flex-direction: column;
  }

  .mindetail {
    margin: 1.6em auto;
    order: 2;
  }
}

@media (max-width: 750px) {
  .maincontentinfo {
    box-shadow: 0 -38px 28px var(--boxshadowcolor);
    border-radius: 1em;
    margin-top: -4em;
  }

  .infodesc {
    margin: 0 auto;
  }

  .infos {
    margin-top: 0;
    box-shadow: none;
    width: -webkit-fill-available;
    padding: 2em 6%;
  }

  .slide {
    width: 100%;
    height: 60ch;
  }

  .contentpanel {
    width: 38.5ch;
    height: 60ch;

    figure {
      width: 40ch;
      height: 60ch;
    }
  }

  .buttons {
    bottom: 28%;
  }

  .primaryline {

    h1,
    span {
      font-size: 1.2em;
    }

    h2 {
      font-size: 0.8em;
    }
  }

  .price {
    position: relative;

    div:first-child {
      span:first-child {
        font-size: 0.8em;
      }

      span:last-child {
        font-size: 0.8em;
      }
    }

    div:last-child {
      span:first-child {
        font-size: 1.2em;
      }
    }
  }

  .slideinfo {
    width: auto;
    margin-left: 6%;
    padding: 0;
  }
}
