.contprod {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.slide {
  width: 62%;
  height: 90vh;
  margin-top: 100px;
  min-height: 250px;

  figure {
    width: 61ch;
    height: 90vh;
    margin: 0 auto;
  }
}

.contentpanel {
  width: 50%;
  min-width: 600px;
  height: 100%;
}

.maincontentinfo {
  margin-top: 80px;
  width: 38%;
  background: var(--maincolor);
}

.infodesc {
  padding: 2em;
  max-width: 500px;
}

.titles {
  h1 {
    color: #525252;
    font-size: 2em;
  }

  h2 {
    color: #707070;
    font-size: 1.2em;
  }
}

.mindetail {
  margin-top: 32px;
  text-align: start;
  max-width: 400px;
}

.primaryline {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.price {
  position: relative;

  span::after {
    content: attr(data-oldprice);
    margin-left: 8px;
    display: inline-block;
    text-decoration: line-through;
    color: #bfbfbf;
  }

  h4 {
    color: #525252;
    font-size: 2em;
  }
}

.barcolor {
  margin: 52px 0 32px;
}

.secondline {
  margin: 32px 0;
}

.more {
  margin-top: 42px;
}

.moreoptions {
  margin-bottom: 18px;

  button {
    position: relative;
    background: transparent;
    color: #525252;
    margin-right: 12px;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 4px;
      background: #333;
      left: 0;
      border-radius: 6px;
      bottom: -5px;
      transition: width 0.3s ease;
    }
  }

  button[aria-hidden|=true]::after {
    width: 30%;
  }
}

@media (max-width: 1000px) {
  .contprod {
    flex-direction: column;
  }

  .slide {
    width: 100%;
    height: 60vh;
    margin-top: 60px;

    figure {
      width: 64.4vw;
      height: auto;
      margin: 0 auto;
    }
  }

  .contentpanel {
    width: 100%;
  }

  .maincontentinfo {
    margin-top: 0;
    width: 100%;
    z-index: 5;
  }
}
