$size: 750px;

.header {
  width: 100%;
  height: 130px;
  background: transparent;
  position: fixed;
  z-index: 9999;
  transition: 0.1s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 1rem 1rem;

  &:hover {
    background: #ffffffea;
    backdrop-filter: saturate(100%) blur(5px);
    box-shadow: inset 0 -1px 0 0 #0000001a;
  }

  .container {
    margin-left: 6%;
    display: flex;
  }

  .container img {
    width: 10em;
    height: 50px;
  }

  @media screen and (max-width: $size) {
    height: 9vh;

    .container img {
      width: 6em;
      height: 50px;
    }
  }
}
