.category {
  position: relative;
  display: grid;
  grid-template-areas:
    'filter'
    'products';
  grid-template-columns: auto;
}

.categorycont {
  grid-area: products;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: ". . . . . . .";
  grid-column-gap: 1em;
  grid-template-rows: max-content;
  row-gap: 1em;
  align-items: start;
  margin: 0 6% 3em;
}

.filter {
  position: sticky;
  z-index: 444;
  top: 90px;
  background: #ffffffe5;
  grid-area: filter;
  display: grid;
  grid-template-areas: 'btn listfilter';
  grid-template-columns: 78px auto;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  margin: 0 6% 1em;
}

.listfilter {
  grid-area: listfilter;
  display: flex;
  height: -webkit-fill-available;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;

  label {
    float: left;
    margin: 6px 6px 0 0;
    flex: none;
  }

  &:hover {
    overflow: overlay;
  }
}

@media (max-width: 1080px) {
  .categorycont {
    grid-template-areas: '. . .';
  }
}

@media (max-width: 790px) {
  .category {
    grid-template-columns: 100%;
    grid-template-rows: 38px auto;
  }

  .filter {
    margin-bottom: 0;
    align-items: center;
    margin: 0 3%;
  }

  .categorycont {
    margin: 12px 3%;
  }
}

@media (max-width: 700px) {
  .filter {
    top: 50px;
    margin: 0 0 0 3%;
  }
}

@media (max-width: 500px) {
  .categorycont {
    grid-template-areas: '. .';
  }

  .filter {
    grid-template-columns: auto;
    gap: 0.6em;
  }
}

// Detectar dispositivos moveis
@media only screen and (hover: none) and (pointer: coarse) {
  .listfilter {
    overflow: overlay;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
