@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.barcolor {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 12px;
  padding-left: 4px;
  overflow: hidden;
  gap: 12px;

  button {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    @include flexCenter;
    background: transparent;
  }

  input {
    display: none;
  }

  label {
    position: relative;
    border: 1px solid var(--bordercolor);
    border-radius: 50%;
  }

  span {
    position: relative;
    cursor: pointer;
    @include flexCenter;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid var(--bordercolor);
  }

  input:checked+span {
    border: 6px solid;
    background: transparent !important;
    width: 16px;
    height: 16px;
  }

  input:checked+span::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid var(--bordercolor);
    border-radius: 50%;
  }

  input:disabled+span::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background: #ff0000;
    border-radius: 50%;
    left: -4px;
  }
}

.qtd {
  margin-top: 30px;
  border: 1px solid var(--bordercolor);
  border-radius: 0.8em;
  padding: 0.2em;
  width: fit-content;

  input {
    width: 50px;
    text-align: center;
    font-size: 1em;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  button {
    width: 2.2em;
    height: 2.2em;
    cursor: pointer;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    background: transparent;
  }
}

//-------------------buy bar--------------------
.buybar {
  position: sticky;
  grid-area: reserved;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--maincolormenu);
  backdrop-filter: saturate(100%) blur(5px);
  border-top: 1px solid var(--bordercolor);
  margin: 20px 0 10px;

  a {
    display: none;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  @include flexCenter;
  padding: 12px 0;
  gap: 30%;
}

.calc {
  margin-bottom: 6px;
  font-weight: 700;
  color: #525252;
  min-width: 250px;

  span:nth-child(2) {
    font-weight: 500;
    font-size: 0.98em;
    margin-left: 12px;
    color: #585858;
  }
}

.calcfinish {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  div {
    color: #525252;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    span:nth-child(2) {
      font-size: 0.9em;
      font-weight: 500;
      color: #585858;
    }
  }
}

@media (max-width: 750px) {
  .buybar {
    overflow: hidden;
    height: auto;
  }

  .expand {
    position: absolute;
    @include flexCenter;
    top: -1px;
    border-radius: 0 0 8px 8px;
    width: 28px;
    height: 28px;
    background: transparent;
    border: 1px solid var(--bordercolor);
    cursor: pointer;

    &:before {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      border-top: 3px solid #333;
      border-right: 3px solid #333;
      border-radius: 3px;
      transform: rotate(-45deg);
      transition: 0.3s;
    }
  }

  .container {
    display: block;
    width: 70%;
    max-width: 300px;
  }

  .calc {
    display: none;
  }

  .open.buybar {
    max-height: 60vh;

    .calc {
      display: flex;
      flex-direction: column;
    }

    .expand {
      &:before {
        transform: rotate(135deg);
      }
    }
  }

  .calcfinish {
    button {
      width: 100%;
    }
  }
}

//----------fim buy bar-------------------
//-------------- size --------------------
.barsize {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;

  input {
    display: none;
  }

  span {
    color: #1d1d1d;
    @include flexCenter;
    border-radius: 0.8em;
    width: 42px;
    height: 42px;
    border: 1px solid var(--bordercolor);
    font-weight: 600;
    cursor: pointer;
  }

  input:checked+span {
    border-color: #1d1d1d;
  }

  input:disabled+span {
    color: var(--bordercolor);
    border-style: dashed;
  }
}

//----------------------fim style size-------------------
