.card {
  position: relative;
  width: 250px;
  margin: 0 auto;
  border: 1px solid var(--bodercolor);
  border-radius: 20px;
  padding: 18px;
  color: #303030;
}

.infos {
  color: #858585;
  margin-top: 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 750px) {
  .card {
    p {
      font-size: 0.82rem;
    }
  }

  .infos {
    margin-top: 35%;
  }
}
