.dropBag {
  opacity: 0;
  position: relative;
}

.containBag {
  display: none;
  position: absolute;
  top: 46px;
  right: -20px;
  width: 420px;
  background: var(--maincolor);
  border-radius: 12px;
  border: 1px solid var(--color-border);

  .titlemenu {
    margin: 8px 12px;
    color: var(--titlecolor);
  }

  ul {
    padding: 12px 12px 0;
    max-height: 40vh;
    overflow: auto;
  }

  li {
    margin-bottom: 36px;
  }
}

.baginfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-content: center;
  width: 100%;
  margin: 14px 0;
  padding-top: 12px;
  border-top: 1px solid var(--color-border);

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span:first-child {
      font-weight: 700;
      color: var(--titlecolor);
    }

    span {
      margin: 0 12px 18px;
    }
  }

  a {
    background: var(--colorlink);

    span {
      color: var(--maincolor);
    }

    svg {
      fill: var(--maincolor);
    }
  }
}

:is(.mobile, .bag)[data-bag="true"] {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    bottom: 14px;
    left: 1px;
    background: var(--color-orange);
    border-radius: 50%;
  }
}

.bag:hover .dropBag,
.bag:hover .containBag {
  opacity: 1;
  display: block;
  transition: transform 0.3s;
  transform: translateY(-1em);
}

@media (max-width: 700px) {
  :is(.mobile, .bag)[data-bag="true"] {
    &::after {
      z-index: -1;
      left: 16px;
    }
  }
}
