.mobile {
  display: none;
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 700px) {
  .dromn {
    display: none;
  }

  .dropmobile {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--maincolor);
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    ul {
      width: 80%;
      padding: 3em 0;
    }

    a {
      padding: 1em;
      gap: 1em;
      color: #333;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .drop {
    display: block;
  }
}
