.mobile {
  position: relative;
  margin-right: 6%;
}

.dromn {
  opacity: 0;

  .dropmobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    display: none;

    ul {
      margin: 32px 8%;

      li {
        padding: 22px;

        span {
          display: flex;
          align-items: center;
          cursor: pointer;
          gap: 16px;

          &:hover {
            text-decoration: underline;
          }
        }

        img {
          width: 28px;
        }
      }
    }
  }
}

.close {
  margin: 20% auto;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 32px;
  }
}

.drop .dropmobile {
  display: block;
}

.drop.dromn {
  // transform: translateX(-23rem);
  opacity: 1;
  transition: 0.3s ease-out;
}
