.bag {
  width: 28px;
  position: relative;
  padding: 15px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;


  &:hover .dropBag {
    display: block;
  }
}

.dropBag {
  position: absolute;
  top: 60px;
  right: -140px;
  display: none;
  width: 400px;
  background: var(--maincolormenu);
  max-height: 450px;
  overflow: auto;
  padding: 0 18px;
  border-radius: 12px;
  border: 1px solid var(--bodercolor);

  li {
    margin-top: 36px;
  }
}
