.bag {
  width: 28px;
  position: relative;
  padding: 15px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  .dropBag {
    position: absolute;
    top: 60px;
    display: none;
  }

  &:hover .dropBag {
    display: block;
  }
}
