.mobile {
  position: relative;
  margin-right: 6%;
}

.dromn {
  opacity: 0;

  .dropmobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    display: none;

    ul {
      margin: 32px 8% 12px;

      li {
        padding: 22px;

        a {
          display: flex;
          align-items: center;
          cursor: pointer;
          gap: 16px;
          color: #333333;

          &:hover {
            text-decoration: underline;
          }
        }

        svg {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

.close {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 32px;
  }
}

.drop .dropmobile {
  display: block;
}

.drop.dromn {
  opacity: 1;
  transition: 0.3s ease-out;
}
