.menuUser {
  svg {
    width: 28px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .dropmenu {
    opacity: 0;

    ul {
      display: none;
      position: absolute;
      width: 230px;
      right: -20px;
      border-radius: 12px;
      top: 30px;
      border: 1px solid var(--bodercolor);
      background: var(--maincolormenu);
      backdrop-filter: saturate(100%) blur(5px);
    }

    li {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      padding: 22px;

      span {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .drop ul {
    display: block;
  }

  .drop.dropmenu {
    transform: translateY(-1rem);
    opacity: 1;
    transition: 0.3s;
  }
}

.set {
  position: absolute;
  width: 20px;
  height: 8px;
  top: 23px;
  right: 3.1px;
  overflow: hidden;

  &::after {
    content: "";
    left: 50%;
    border: 1px solid var(--bodercolor);
    background: var(--maincolormenu);
    backdrop-filter: saturate(100%) blur(5px);
    position: absolute;
    top: -0.5px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    transform-origin: 0% 0;
    z-index: 1;
  }
}
