.contlogin {
  width: 400px;
  background: var(--maincolor);
  padding: 2em max(2em, 6%);
  border-radius: 1em;
}

.sectiontab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 4em;
  font-size: 0.8em;
}

.logo {
  display: flex;
  margin: 1em auto 1.4em;
  height: 2em;

  svg {
    width: 100%;
    height: 100%;
  }
}

.section {
  display: block;
  color: #595555;
  position: relative;
}

.section.active {
  &:after {
    content: '';
    position: absolute;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #595555;
  }
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0 16px;

  label {
    margin-right: 12px;
    color: #858585;
  }
}

@media (max-width: 470px) {
  .contlogin {
    width: auto;
  }
}
