.sectionadd {
  display: block;
  background: var(--maincolor);
  width: 100vw;
  max-width: 450px;
  border-radius: 1em;

  padding: 1em 0.6em;

  label {
    margin: 2em 0 1em;
  }
}

.content {
  padding: 0.8em;
}
