.footer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 4em 0 6em;
  border-top: 1px solid var(--bordercolor);

  h1 {
    color: #333;
  }

  ul {
    width: 100%;
    margin: 20px 6%;

    a {
      color: #333;
      display: flex;
      margin-top: 6px;
      gap: 6px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footercolumn {
  display: flex;
  margin: 0 6%;
  gap: 52px;
  flex-wrap: wrap;
}

.social {
  display: flex;
  align-items: center;
  gap: 22px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
