.form {
  h4 {
    margin-bottom: 2em;
  }
}

.inp {
  position: relative;
  display: flex;
  gap: 1em;

  label {
    width: 100%;
    margin: 1em 0;
  }

  a {
    position: absolute;
    top: 0;
    right: 2px;
  }
}

.contact {
  margin: 1.4em 0 1.8em;

  label {
    margin: 0;
  }
}

@media (max-width: 550px) {
  .form {
    h4 {
      margin-bottom: 1em;
    }
  }

  .inp {
    flex-direction: column;
    gap: 0;

    a {
      top: -1.3em;
    }

    label {
      width: 99%;
      margin: 0.9em 0;
    }

  }

  .genere {
    width: 99%;

    span {
      margin: 0.3em auto;
      padding: 0 0 0 0.1em;
    }
  }

  .contact {
    margin-bottom: 1em;

    h4 {
      margin: 1em 0 0;
    }
  }
}
