.inp {
  position: relative;
  display: flex;
  gap: 1em;

  label {
    width: 100%;
  }

  a {
    position: absolute;
    top: 0;
    right: 2px;
  }
}

.genere {
  margin: 0;

  h5 {
    margin: 1em 0;
  }
}

.contact {
  margin-bottom: 2em;

  h5 {
    margin: 2em 0;
  }

  label {
    margin: 0;
  }
}

@media (max-width: 550px) {
  .inp {
    flex-direction: column;
    gap: 0;

    a {
      top: -1.3em;
    }

    label:nth-child(1) {
      margin: 1.6em 0 0.9em;
    }

    label {
      width: 99%;
      margin: 0.9em 0;
    }

  }

  .genere {
    width: 99%;

    span {
      margin: 0.3em auto;
      padding: 0 0 0 0.1em;
    }
  }

  .contact {
    margin-bottom: 1em;

    h5 {
      margin: 1em 0 0.2em;
    }
  }
}
