.modal {
  position: fixed;
  background-color: #00000070;
  overflow: auto;
  z-index: 99999;
}

.modal.open {
  inset: 0 0 0 0;
}

.content_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: fit-content
}

.open .content_modal {
  animation: contentmodal 0.3s ease-in-out;
}

@media (max-width: 750px) {
  .close {
    width: 2.6em;
    height: 2.6em;
  }
}

@media (max-width: 470px) {
  .content_modal {
    top: 65%;
    width: -webkit-fill-available;
  }
}

@keyframes contentmodal {
  from {
    will-change: transform, opacity;
    transform: translate3d(-50%, 3em, 0);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes contentmodal {
  from {
    will-change: transform, opacity;
    transform: translateY(3em);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
