.modal {
  position: fixed;
  opacity: 0;
  transition: opacity 140ms ease-in-out;
  background: #00000070;
  overflow: auto;
  z-index: 99999;
}

.modal.open {
  inset: 0 0 0 0;
  opacity: 1;
}

.content_modal {
  will-change: transform;
  transition: transform 140ms ease-in-out;
  transform: translateY(6em);
  opacity: 0;
}

.open .content_modal {
  opacity: 1;
  transform: translateY(0);
}

.close {
  z-index: 3;
  top: 2em;
  position: sticky;
  box-sizing: border-box;
  background: var(--maincolor);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  margin: 4em auto -4em;
  border: 1px solid var(--bordercolor);
  box-sizing: content-box;

  svg {
    width: 1.8em;
    height: 1.8em;
  }
}

@media (max-width: 750px) {
  .close {
    width: 2.6em;
    height: 2.6em;
  }
}
