.slide {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 2em 2em;
  background: var(--backgroundimg);
  min-height: 500px;

  figure {
    display: grid;
    width: 100vw;
    height: 100vh;
    min-height: 500px;
  }

  img {
    object-fit: cover;
  }
}

.titleproduct {
  position: absolute;
  margin-left: 6%;
  bottom: 12%;
  width: 30%;
  max-width: 400px;
  padding: 1.6em 2em;
  border-radius: 1em;
  background: var(--maincolormenu);

  h1 {
    font-size: 2.4em;
    font-weight: 700;
    color: var(--titlecolor);
  }

  div {
    margin-top: 2em;
  }
}

.scrollset {
  position: absolute;
  bottom: 6%;
  z-index: 98899;
  animation: updown 1s infinite alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);

  svg {
    transform: rotate(270deg);
    fill: #ffffff;
    stroke: #ffffff;
    width: 32px;
    height: 32px;
  }
}

@keyframes updown {
  from {
    transform: translateY(-32px);
  }

  to {
    transform: translateY(0px);
  }
}


.sectionfilter {
  position: relative;
  margin: 8vh 6%;
}

.category {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}

.advertising {
  position: relative;
  margin: 12vh 6%;

  img {
    border-radius: 2rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cont1 {
  width: 100%;
  max-width: 1300px;
}

.cont2 {
  display: flex;
  gap: 3em;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin: 2em 6%;

  h1 {
    font-size: 3em;
  }
}

.produinitial {
  margin: 152px 6%;
}

.contentcards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8vh;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  width: 46%;
  gap: 4em;

  h1 {
    font-size: 2.2em;
  }
}

@media (max-width: 1200px) {
  .container {
    flex-wrap: wrap;
  }
}

@media (max-width: 780px) {
  .sectionfilter {
    width: 84%;
    margin: 4vh 2vh;
  }

  .slide {
    border-radius: 0 0 1em 1em;
    min-height: auto;

    figure {
      min-height: auto;
    }
  }

  .titleproduct {
    width: 50%;
    padding: 1em 1.4em;

    h1 {
      font-size: 1.4em;
    }

    div {
      margin-top: 1em;
    }
  }

  .advertising {
    margin: 2vh 6%;

    img {
      border-radius: 1em;
    }
  }

  .cont1 {
    width: 100%;
  }

  .cont2 {
    gap: 1.5em;

    h1 {
      font-size: 1.8em;
    }
  }

  .container {
    flex-direction: column;
  }

  .contentcards {
    gap: 1em;
  }

  .produinitial {
    margin: 52px auto;
    width: 92%;
  }

  .column {
    gap: 1em;

    h1 {
      font-size: 1.5em;
    }
  }

  .column:nth-child(1) {
    order: 4;
    align-self: baseline;
  }

  .column:nth-child(2) {
    align-self: flex-end;
  }
}

//------------Login-----------------------------
.contlogin {
  width: 400px;
  background: var(--maincolor);
  padding: 2em max(2em, 6%);
  border-radius: 1em;
}

.sectiontab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 4em;
  font-size: 0.8em;
}

.logo {
  display: flex;
  margin: 1em auto 1.4em;
  height: 2em;

  svg {
    width: 100%;
    height: 100%;
  }
}

.tablog {
  display: block;
  color: #595555;
  position: relative;
}

.tablog.active {
  &:after {
    content: '';
    position: absolute;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #595555;
  }
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0 16px;

  label {
    margin-right: 12px;
    color: #858585;
  }
}

@media (max-width: 470px) {
  .contlogin {
    width: auto;
  }
}

//------------Fim style login-----------------------------
//---------------Favorite---------------------------------
.favorites {
  margin: 110px auto;
  max-width: 700px;
  width: 100%;

  .title {
    margin: 0 6% 42px;
    gap: 16px;
    color: #333;
    display: flex;
    align-items: center;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  li {
    margin: 0 6% 42px;
  }
}

@media (max-width: 750px) {
  .favorites {
    margin-top: 70px;
  }
}

//----------------Fim style favorite-------------------------
//--------------------Bag--------------------------------------------------------
.bag {
  position: relative;
  margin: 110px auto 2em;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3%;

  .title {
    margin-bottom: 22px;
    gap: 16px;
    color: #333333;
    display: flex;
    align-items: center;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  li {
    margin-bottom: 42px;
  }
}

.list {
  width: 50%;

  ul {
    padding-top: 16px;
  }
}

@media (max-width: 750px) {
  .bag {
    margin-top: 70px;
    gap: 0;
  }

  .list {
    width: 100%;
    padding: 0 1em;
  }
}

//-----------------Fim Style Bag-------------------
//----------------------Account------------------------------------------------
.section {
  margin: 110px auto;
  background: var(--maincolor);
  padding: 2em;
  border-radius: 1em;

  h1 {
    color: #333;
  }

  // Pagina Help
  ol {
    padding: 0 2em;
    margin: 0 auto;

    li {
      color: var(--colorlink);
      list-style: decimal;
      margin-bottom: 12px;
    }

    a {
      color: var(--colorlink);
      font-size: 1.2em;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // Fim pagina Help
}

.contaienrsection {
  max-width: 400px;
  margin: 0 auto;
}

.genere {
  div {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}

// Tabela de pedidos
.table {
  width: 100%;
}

.toptable {
  width: 100%;
  display: flex;
  align-items: center;

  h4:nth-child(1) {
    margin: 0 26px;
    width: 31.6%;
  }

  h4:nth-child(2) {
    margin: 0 26px;
    width: 31.6%;
  }
}

.bodytable {
  max-height: 80vh;
  overflow: auto;
}

// Content Address and Card
.contentoption {
  margin-top: 1em;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.optionadd {
  width: 348px;
}

// Estilização da pagina (account) deve ser sempre a ultima
.account {
  max-width: 800px;
  margin: 110px auto;
}

.container {
  margin: 2em 6%;

  .dropOption {
    display: flex;
    padding: 28px;
    align-items: center;
    gap: 18px;
    cursor: pointer;
    color: #333;
    border: 1px solid var(--bordercolor);
    border-radius: 1em;
    transition: padding 0.3s ease-in-out;
  }

  section {
    display: none;
  }

  .open+.dropcontainer section {
    display: block;
    border: none;
  }

  .dropOption.open {
    padding: 28px 0;
    border: none;
  }

  svg {
    width: 28px;
    height: 28px;
  }

  .section {
    margin: 0 auto;
    padding: 0;
  }
}

@media (max-width: 750px) {
  .container {
    margin: 1.2em 6%;
  }

  .account {
    margin-top: 70px;
  }
}

@media (max-width: 411px) {
  .toptable {
    font-size: 0.8rem;

    h4:nth-child(1) {
      margin: 0 9px;
      width: 31.6%;
    }

    h4:nth-child(2) {
      margin: 0 9px;
      width: 31.6%;
    }
  }
}

@media (max-width: 810px) {
  .contentoption {
    justify-content: center;
  }
}

//------------Fim Style Account-------------------
