.sectionadd {
  display: block;
  background: var(--maincolor);
  width: 100vw;
  max-width: 450px;
  border-radius: 1em;
}

.content {
  padding: 0.8em;
}

.pixcard {
  display: block;
  background: var(--maincolor);
  width: 100vw;
  max-width: 450px;
  border-radius: 1em;
  padding: 2em;

  figure {
    position: relative;
    display: block;
    height: 300px;
    max-width: 220px;
    max-height: 200px;
    margin: 0 auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.block {
  position: relative;
  margin-bottom: 2em;
  counter-reset: css-counter 0;

  h3 {
    margin-bottom: 1em;
  }

  button {
    background: transparent;
    position: absolute;
    right: 8px;
    top: 9px;
    cursor: pointer;
  }
}

.row {
  display: flex;
  gap: 12px;
  margin-bottom: 1em;
  counter-increment: css-counter 1;

  &::before {
    content: counter(css-counter);
    text-align: center;
    display: block;
    width: 18px;
    flex: none;
    height: 18px;
    border: 2px solid #333;
    line-height: 1.2;
    border-radius: 50%;
    font-weight: 600;
  }
}
