.contentimg {
  position: relative;
}

.image {
  visibility: visible;
}

.loading {
  visibility: hidden;
}

.statusloading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
