// https://uxdesign.cc/using-css-design-a-simple-skeleton-loader-57d884cd3547
.panelimg {
  position: absolute;
  inset: 0;
  background: #f1f1f1;
  overflow: hidden;
  padding: 0 !important;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.load {
  opacity: 1;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    animation: loading 1.8s ease-in-out infinite;
    background: linear-gradient(to right,
        #ffffff00 10%,
        #ffffff80,
        #ffffff00 50%);
    transform: translateX(-48%);
  }
}

@keyframes loading {
  to {
    transform: translateX(200%);
  }
}
