// https://uxdesign.cc/using-css-design-a-simple-skeleton-loader-57d884cd3547
.statusloading {
  background: linear-gradient(to right,
      #ffffff00 40%,
      #ffffff80,
      #ffffff00 60%),
    #f1f1f1;
  // f1f1f1
  // background-repeat: repeat-y;
  background-size: 200% 150%;
  background-position-x: 125%;
  animation: loading 1.5s ease-in-out infinite;
  border-radius: 1em;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
