// Style card category
.itencategory {
  margin: 0 22px;

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  input {
    display: none;
  }

  img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }

  span {
    font-weight: 700;
    color: #8e8e8e;
    margin-top: 12px;
  }

  input:checked~span {
    color: #323232;
  }
}

@media (max-width: 750px) {
  .itencategory {
    margin: 0 14px;

    img {
      width: 100px;
      height: 100px;
    }
  }
}
