// Style Card producsts
.productcard {
  position: relative;
  display: flex;
  width: 300px;

  figure {
    position: relative;
    width: 300px;
    height: 450px;
    border-radius: 22px;
    overflow: hidden;
  }

  img {
    object-fit: cover;
  }

  &:hover .infocontND {
    visibility: visible;
    opacity: 1;
  }
}

.productcardNDS {
  position: relative;
  display: flex;
  width: 300px;
  height: 300px;

  figure {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 22px;
    overflow: hidden;
  }

  img {
    object-fit: cover;
  }

  &:hover .infocontND {
    visibility: visible;
    opacity: 1;
  }
}

.productcardND {
  position: relative;

  figure {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 22px;
    overflow: hidden;
  }

  img {
    object-fit: cover;
  }

  &:hover .infocontND {
    visibility: visible;
    opacity: 1;
  }
}

.infocontND {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 1em;
  left: 19px;
  z-index: 44444;
  transition: 0.3s;
}

.infocont {
  position: absolute;
  top: 1em;
  left: 19px;
  z-index: 44444;
}

@media (max-width: 750px) {
  .productcard {
    width: 100%;
    height: 30vh;

    figure {
      width: 100%;
      height: 30vh;
      border-radius: 1em;
    }
  }

  .infocont {
    top: 0.5em;
    left: 6px;
  }

  .productcardNDS {
    width: 100%;
    height: 20vh;

    figure {
      width: 100%;
      height: 20vh;
    }
  }

  .productcardND {
    width: 100%;

    figure {
      width: 100%;
      height: 220px;
    }
  }
}
