.productcard {
  position: relative;

  figure {
    position: relative;
    width: 300px;
    height: 450px;
    border-radius: 22px;
    overflow: hidden;
  }

  img {
    object-fit: cover;
  }
}

.infocont {
  position: absolute;
  top: 1em;
  left: 19px;
  z-index: 44444;
}
