@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --maincolor: #fff;
  --maincolormenu: #ffffffea;
  --bordercolor: #0000001a;
  --boxshadowcolor: #0000001a;
  --titlecolor: #303030;
  --hovericon: #919191;
  --colorlink: #2A71B3;
  --backgroundimg: #eaeaea;
  --colorerr: #db1818;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth !important;
}

.maincontent {
  width: 100vw;
  height: 100vh;
}

.inputs {
  label {
    margin: 2em 0 1em;
  }
}

.action {
  position: absolute;
  cursor: pointer;
  right: 12px;
  top: 12px;
  background: transparent;

  svg {
    width: 22px !important;
    height: 22px !important;
    fill: #c2c2c2;

    &:hover {
      fill: var(--hovericon);
    }
  }
}

.hidden {
  overflow: hidden;
}

.prev,
.next {
  z-index: 77777;
  position: absolute;
  cursor: pointer;

  svg {
    width: 26px;
    height: 52px;
  }
}

.prev {
  left: 3%;
}

.next {
  right: 3%;
}

.flicking-camera,
.flicking-viewport {
  width: 100%;
}

.link {
  color: var(--colorlink);

  &:hover {
    text-decoration: underline;
  }
}

// Animate Buttons
.button1 {
  position: relative;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale3d(1.01, 1.01, 1.01);
  }

  &:active {
    transform: scale3d(0.98, 0.98, 0.98);
  }

  span {
    position: absolute;
    top: -24px;
    font-size: 0.8em;
    color: #db1818;
  }
}

.loading {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  transform: translate3d(0, 32vh, 0);
}

// https://tobiasahlin.com/spinkit/

.spinner {
  width: 40px;
  height: 40px;
  z-index: 99995;
  position: relative;
  margin: 0 auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ebebeb;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@media (max-width:550px) {
  .inputs {
    label {
      margin-bottom: 0;
    }
  }
}

@-webkit-keyframes sk-bounce {

  0%,
  100% {
    -webkit-transform: scale3d(0.0)
  }

  50% {
    -webkit-transform: scale3d(1.0)
  }
}

@keyframes sk-bounce {

  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale3d(0.0);
  }

  50% {
    transform: scale(1.0);
    -webkit-transform: scale3d(1.0);
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #dad7d7;
  border-radius: 5px;
}
