//Card info
.info {
  padding: 8px 0;
  border-radius: 1em;
  margin: 0 3%;

  div {
    display: flex;
    align-items: center;
  }

  span {
    color: #707070;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.primaryline {
  font-size: 1.2em;
  font-weight: 700;
}

.secondline {
  font-size: 1.6ch;
}

.thirdline {
  margin-top: 8%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.price {
  position: relative;
  font-weight: 700;

  &::before {
    position: absolute;
    content: attr(data-oldprice);
    top: -1em;
    text-decoration: line-through;
    color: #a7a7a7;
  }

  span {
    bottom: 1.6em;
    font-size: 2ch;
    font-weight: 700;
  }
}

.colors {
  span {
    width: 0.9em;
    height: 0.9em;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid var(--bordercolor);
  }
}

@media (max-width: 750px) {
  .primaryline {
    margin-bottom: -0.3em;
    font-size: 1em;
  }

  .secondline {
    margin-top: 0.4em;
    font-size: 0.85em;
  }

  .colors {
    span {
      width: 0.62em;
      height: 0.62em;
    }
  }

  .price {
    font-size: 1.6ch;

    span:nth-child(2n) {
      bottom: 1.5em;
    }
  }
}

@media (max-width: 415px) {
  .primaryline {
    font-size: 0.9em;
  }

  .secondline {
    font-size: 0.75em;
  }

  .colors {
    span {
      width: 0.46em;
      height: 0.46em;
      margin-right: 4px;
    }
  }
}
