.contentcarousel {
  position: relative;
  width: 88%;
  height: 100%;
  margin: 0 6% 100px;
  overflow: hidden;
  background: rgb(255, 106, 106);
}

.drag {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: rgba(255, 255, 255, 0.822);
}

.card {
  margin: 0 22px;
  width: 100%;
  height: 100%;
  flex: none;
}
