.cardaddress {
  position: relative;
  padding: 18px;
  border: 1px solid var(--bordercolor);
  border-radius: 20px;
  color: #333;
  background: #fff;
  width: -webkit-fill-available;

  .line {
    display: flex;
    margin-top: 12px;
    color: #585858;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.address {
  max-width: 348px;
  width: 100%;
}

.delete {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  cursor: pointer;

  svg {
    width: 22px !important;
    height: 22px !important;
    fill: #c2c2c2;

    &:hover {
      fill: var(--hovericon);
    }
  }
}

@media (max-width: 750px) {
  .cardaddress {
    span {
      font-size: 0.82em;
    }
  }
}

@media (max-width: 500px) {
  .address {
    max-width: 450px;
  }
}
