.cardadderess {
  position: relative;
  width: 310px;
  padding: 18px;
  border: 1px solid var(--bordercolor);
  border-radius: 20px;
  color: #333;

  .line {
    display: flex;
    margin-top: 12px;
    color: #747474;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 750px) {
  .cardadderess {
    span {
      font-size: 0.82rem;
    }
  }
}

@media (max-width: 395px) {}
