.edit {
  position: relative;
  background: var(--maincolor);
  padding: 2em;
  border-radius: 1em;
}

.contimg {
  width: 26ch;
  margin: 0 auto 2em;
}

.secondline {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8%;
  flex-wrap: wrap;
}

.titles {
  margin-top: 26px;

  h1 {
    color: #525252;
    font-size: 1em;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  h2 {
    color: #585858;
    font-size: 0.8em;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
